<!DOCTYPE html>
<html lang="en">
    
<head>
        <title>Supa Admin</title><meta charset="UTF-8" />
        {% load staticfiles %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
		<link rel="stylesheet" href="{% static 'css/bootstrap-responsive.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/matrix-login.css' %}" />
        <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet" />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>

    </head>
    <body>

        <div id="loginbox">  

           

            <form id="loginform" class="form-vertical" method="post">
            {% csrf_token %}
             {% if form.non_field_errors %}
            <div class="alert alert-error">
  
              
              <strong>Error!</strong> <ul class='form-errors'>
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
            </div>              
                {% endif %}

				 <div class="control-group normal_text">  <img style="margin: 10px;" src="http://naxa.com.np/appadmin/application/logo.png" height="45px" width="200px"></div>

                <div class="control-group">
                    <div class="controls">
                        <div class="main_input_box">
                            <span class="add-on bg_lg"><i class="icon-user"> </i></span><input type="text" id="id_username" required name="username"placeholder="Username" />
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <div class="main_input_box">
                            <span class="add-on bg_ly"><i class="icon-lock"></i></span><input type="password" id="id_password" required name="password"placeholder="Password" />
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <span class="pull-left"><a href="#" class="flip-link btn btn-info" id="to-recover">Lost password?</a></span>
                    <span class="pull-right"><button type="submit" class="btn btn-success" /> Login</span>
                </div>
               

            </form>



            <form id="recoverform" action="{% url 'password_reset' %}" class="form-vertical" method="post">
                {% csrf_token %}
				<p class="normal_text">Enter your e-mail address below and we will send you instructions how to recover a password.</p>
				
                    <div class="controls">
                        <div class="main_input_box">
                            <span class="add-on bg_lo"><i class="icon-envelope"></i></span><input type="text" name="email" required placeholder="E-mail address" />
                        </div>
                    </div>
               
                <div class="form-actions">
                    <span class="pull-left"><a href="#" class="flip-link btn btn-success" id="to-login">&laquo; Back to login</a></span>
                    <span class="pull-right"><a><button type="submit" class="btn btn-success" />Reecover</a></span>
                </div>
            </form>
        </div>
        <script src="{% static 'js/jquery.min.js' %}"></script>  
        <script src="{% static 'js/matrix.login.js' %}"></script> 
    </body>

</html>
