<!DOCTYPE html>
<html lang="en">
    
<head>
        <title>Supa Admin</title><meta charset="UTF-8" />
        {% load staticfiles %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap-responsive.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/matrix-login.css' %}" />
        <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>

    </head>
    <body>


{% if validlink %}
<div id="loginbox">  
              {% if form.errors %}
            <div class="alert alert-error">
  
              
              <strong>Error!</strong> <ul class='form-errors'>
                
                     {{ form.new_password2.errors }}
               
            </ul>
            </div>              
                {% endif %}

               
                 <form id="loginform" class="form-vertical" method="post">
                 <p class="normal_text">Enter your new Password.</p>
            {% csrf_token %}
                <div class="control-group">
                    <div class="controls">
                        <div class="main_input_box">
                            <span class="add-on bg_ly"><i class="icon-lock"></i></span><input type="password" id="id_password" required name="new_password1" placeholder="Password" />
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <div class="main_input_box">
                            <span class="add-on bg_ly"><i class="icon-lock"></i></span><input type="password" id="id_password" required name="new_password2" placeholder="Re-Enter Password" />
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                   
                    <span class="pull-right"><button style="color: white;" type="submit" class="btn btn-success" />Change Password</span>
                </div>
               

            </form>
    </div>


  {% else %}
   <div class="span12" style="color:white;">
        <div class="widget-box">
          <div class="widget-content">
            <div class="error_ex">
              <h1>Alert !!! </h1>
    <p>
    The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
  </p>
  <br>
  <br>
  <br>
              <a class="btn btn-warning btn-big" href="{% url 'login' %}">Back to login</a> </div>
          </div>
        </div>
      </div>
      



      
  {% endif %}
     

         <script src="{% static 'js/jquery.min.js' %}"></script>  
        <script src="{% static 'js/matrix.login.js' %}"></script> 
    </body>

</html>


































