{% extends base_template %}
{% block body %}
<script type="text/javascript">
  var d = document.getElementById("{% url 'supa:listoffice' %}");
  d.className += "active";
  var d = document.getElementById("office");
  d.className += " open";
</script>
<div id="content">
  <div id="content-header">
    <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="#">Form elements</a> <a href="#" class="current">Form wizard</a> </div>
    <h1>Form wizard</h1>
  </div>

        {% if doti_list %}
            <ul>
            {% for dot in doti_list %}
            <div class="container">
                <div class="col-md-3">
                    <a href="#"><h3>Name: {{ dot.name }}</h3></a>
                    <p>Category: {{ dot.category }}</p>
                    <p>Address: {{ dot.address }}</p><br/>
                </div>
            </div>
            {% endfor %}

            </ul>
        {% else %}
            <p>No List are available.</p>
        {% endif %}

  </div>
</div>
{% endblock %}


