{% extends base_template %}
{% block body %}
<div id="content">
  <div id="content-header">
    <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="#">Form elements</a> <a href="#" class="current">Form wizard</a> </div>
    <h1>Form wizard</h1>
  </div>

		{% if form_list %}
		    <ul>
		    {% for form in form_list %}
		        <li><a href="{% url 'supa:formdetail' form.id %}">{{ form.name }}</a></li>
		    {% endfor %}
		    </ul>
		{% else %}
		    <p>No Forms are available.</p>
		{% endif %}

  </div>
</div>
{% endblock %}





