<!DOCTYPE html>
<html lang="en">
<head>
<title>{% block title %}
    {% endblock %}</title>
  {% load staticfiles %}
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/bootstrap-responsive.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/fullcalendar.css' %}" />
<link rel="stylesheet" href="{% static 'css/matrix-style.css' %}" />
<link rel="stylesheet" href="{% static 'css/matrix-media.css' %}" />
<link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet" />

<link rel="stylesheet" href="{% static 'css/jquery.gritter.css' %}" />

<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
</head>
<body>

<!--Header-part-->
<div id="header">

  <img style="margin: 10px;" src="http://naxa.com.np/appadmin/application/logo.png" height="45px" width="200px">
</div>
<!--close-Header-part-->



<!--top-Header-menu-->
<div id="user-nav" class="navbar navbar-inverse">
  <ul class="nav">

    <li  class="dropdown" id="profile-messages" ><a title="" href="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle"><i class="icon icon-user"></i>  <span class="text">Office Staff<</span><b class="caret"></b></a>

      <ul class="dropdown-menu">
        <li><a href="#"><i class="icon-user"></i> My Profile</a></li>
        <li class="divider"></li>
        <li><a href="#"><i class="icon-check"></i> My Tasks</a></li>
        <li class="divider"></li>
        <li><a href="login.html"><i class="icon-key"></i> Log Out</a></li>
      </ul>
    </li>


    <li class=""><a title="" href="{% url 'logout' %}"><i class="icon icon-share-alt"></i> <span class="text">Logout</span></a></li>

  </ul>
</div>
<!--close-top-Header-menu-->
<!--start-top-serch-->
<div id="search">
  <input type="text" placeholder="Search here..."/>
  <button type="submit" class="tip-bottom" title="Search"><i class="icon-search icon-white"></i></button>
</div>
<!--close-top-serch-->
<!--sidebar-menu-->

<div id="sidebar" style="font-size: 15px; color: #f2f2f2;">
  <ul>
    <li id="{% url 'supa:dashboard' %}"><a href="{% url 'supa:dashboard' %}"><i class="icon icon-home"></i><span>गृह पृष्ठ</span></a></li>


    <li class="submenu" id="{% url 'supa:staffactivity' %}"> <a href="{% url 'supa:staffactivity' %}"><i class="icon icon-file"></i> <span>आयोजना/कार्यक्रम वार्षिक विकास कार्यक्रम</span> </a>
    </li>
    <li class="submenu" id="user"> <a href="#"><i class="icon icon-file"></i> <span>चौमासिक प्रगती</span> </a>
    </li>
    <li class="submenu" id="user"> <a href="#"><i class="icon icon-file"></i> <span>रिपोर्ट</span> </a>
    </li>
    <li class="submenu" id="user"> <a href="#"><i class="icon icon-file"></i> <span>प्रयोगकर्ता</span> </a>
    </li>
    <li class="submenu" id="user"> <a href="#"><i class="icon icon-file"></i> <span>बाहिर निस्कनु</span> </a>
    </li>

  </ul>


</div>
<!--sidebar-menu-->

<!--main-container-part-->
{% block body %}
{% endblock %}
<!--end-main-container-part-->

<!--Footer-part-->

<div class="row-fluid">

  <div id="footer" class="span12"> 2013 &copy; Matrix Admin. Brought to you by <a href="http://themedesigner.in">Themedesigner.in</a> </div>

</div>

<!--end-Footer-part-->


<script src="{% static 'js/excanvas.min.js' %}"></script> 
<script src="{% static 'js/jquery.min.js' %}"></script> 
<script src="{% static 'js/jquery.ui.custom.js' %}"></script> 
<script src="{% static 'js/bootstrap.min.js' %}"></script> 
<script src="{% static 'js/jquery.flot.min.js' %}"></script> 
<script src="{% static 'js/jquery.flot.resize.min.js' %}"></script> 
<script src="{% static 'js/jquery.peity.min.js' %}"></script> 
<script src="{% static 'js/fullcalendar.min.js' %}"></script> 
<script src="{% static 'js/matrix.js' %}"></script> 
<script src="{% static 'js/matrix.dashboard.js' %}"></script> 
<script src="{% static 'js/jquery.gritter.min.js' %}"></script> 
<script src="{% static 'js/matrix.interface.js' %}"></script> 
<script src="{% static 'js/matrix.chat.js' %}"></script> 
<script src="{% static 'js/jquery.validate.js' %}"></script> 
<script src="{% static 'js/matrix.form_validation.js' %}"></script> 
<script src="{% static 'js/jquery.wizard.js' %}"></script> 
<script src="{% static 'js/jquery.uniform.js' %}"></script> 
<script src="{% static 'js/select2.min.js' %}"></script> 
<script src="{% static 'js/matrix.popover.js' %}"></script> 
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script> 
<script src="{% static 'js/matrix.tables.js' %}"></script> 


<script type="text/javascript">
  // This function is called from the pop-up menus to transfer to
  // a different page. Ignore if the value returned is a null string:
  

// resets the menu selection upon entry to this page:
function resetMenu() {
   document.gomenu.selector.selectedIndex = 2;
}
</script>
</body>
</html>
