{% extends base_template %}
{% block body %}
<style>
       #map {
        height: 470px;
        width: 100%;
       }
    </style>
<script type="text/javascript">
  var d = document.getElementById("{% url 'supa:addoffice' %}");
  d.className += "active";
  var d = document.getElementById("office");
  d.className += " open";
</script>
<div id="content">
  <div id="content-header">
    <div id="breadcrumb"> <a href="{% url 'supa:dashboard' %}" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>गृह पृष्ठ</a> </div>
    
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
    <div class="row-fluid">
      <div class="span8">
       <div id="map"></div>
      </div>
      <div class="span4">
        <ins style="width:100%;height:470px;" class="nepalipatro-wg" widget="month"/><script src="//nepalipatro.com.np/widget/js"></script>
      </div>
    </div>
    </div>
  </div>
</div>
<script>
      function initMap() {
        var uluru = {lat: 28.363, lng: 82.844};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 8,
          center: uluru
        });
        
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key= AIzaSyBW0dYLRy9A6VacFBYTXhflFyzQa_y9mHU &callback=initMap">
    </script>

  <script>
    $("#id_first-ministry").change(function () {
      
      var id = $(this).val();
      console.log(id);
      $.ajax({
        url: "{% url 'supa:ajaxgetdepartment' %}",
        data: {'ministry': id, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
        type: 'POST',
        success: function (html) {
           $('#update-dep').html(html);
        }
      });

    });

    $("#id_first-category").change(function () {
      
      var id = $(this).val();
      console.log(id);
      $.ajax({
        url: "{% url 'supa:ajaxgetcategory' %}",
        data: {'category': id, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
        type: 'POST',
        success: function (html) {
          //alert(html);
          $("#form-wizard-3").html("");
          $('#form-wizard-3').html(html);
        }
      });

    });
  </script>




{% endblock %}
