{% extends "base_layout.html" %}
{% load filters %}
{% load static %}

{% block title %}MOLE{% endblock title %}

{% block extra_styles %}{% endblock extra_styles %}


{% block content %}


	<!--Main Content Area Starts-->
		<section id="app-section">
			<!--Statistics-->
			<div class="row">
				<div class="col-md-4">
					<div class="widget-count margin-top-lg">
						<p>
						Total Users
						</p>
						<span>100</span>
					</div>
				</div>
				<div class="col-md-4">
					<div class="widget-count margin-top-lg">
						<p>
						Total Organizations
						</p>
						<span>23</span>
					</div>
				</div>
				<div class="col-md-4">
					<div class="widget-count margin-top-lg">
						<p>
						Total Submission
						</p>
						<span>200</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">
					<!--Map-->
					<div class="bg-white padding margin-top-lg">
						<div id="map" style="width:100%;height:500px"></div>
					</div>
				</div>
				<div class="col-md-4">
					<!--Map Mark Info-->
					<div class="bg-white padding margin-top-lg">
						<ul class="map-mark-info-list">
							<li>
								<p>
								<strong>कार्यालयको नाम:</strong></br>
								व्यवसायिक तथा सीप विकास तालिम केन्द्र
								</p>
							</li>
							<li>
								<p>
								<strong>कार्यालय प्रमुख:</strong></br>
								बिक्रान्त गिरी
								</p>
							</li>
							<li>
								<p>
								<strong>इमेल:</strong></br>
								l3ikrant@gmail.com
								</p>
							</li>
						</ul>
					</div>
				</div>

			</div>
		</section>
		<div class="clearfix"></div>
		<!--Main Content Area Ends-->
{% endblock content %}


        {% block extra_scripts %}

        <script>window.jQuery || document.write('<script src="assets/js/vendor/jquery.min.js"><\/script>')</script>

		<script>
			function myMap() {
				var myCenter = new google.maps.LatLng(51.508742,-0.120850);
				var mapCanvas = document.getElementById("map");
				var mapOptions = {center: myCenter, zoom: 5};
				var map = new google.maps.Map(mapCanvas, mapOptions);
				var marker = new google.maps.Marker({position:myCenter});
				marker.setMap(map);
				google.maps.event.addListener(marker,'click',function() {
					take_action();
				});
			}
			function take_action(){
				alert("Take Action");
			}
		</script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDmkU1cjj2GkxzKoYWZV987q0sIGCL3Ps&callback=myMap"></script>

        {% endblock extra_scripts %}



