{% extends "base_layout.html" %}
{% load filters %}
{% load static %}

{% block title %}MOLE{% endblock title %}

{% block extra_styles %}{% endblock extra_styles %}


{% block content %}


	<!--Main Content Area Starts-->
		<section id="app-section">
			<!--Statistics-->
			<div class="row">
				<div class="col-md-4">
					<div class="widget-count margin-top-lg">
						<p>
						Total Users
						</p>
						<span>100</span>
					</div>
				</div>
				<div class="col-md-4">
					<div class="widget-count margin-top-lg">
						<p>
						Total Organizations
						</p>
						<span>23</span>
					</div>
				</div>
				<div class="col-md-4">
					<div class="widget-count margin-top-lg">
						<p>
						Total Submission
						</p>
						<span>200</span>
					</div>
				</div>
			</div>
			<div class="bg-white padding margin-top-lg">
				<div class="app-page-header">
					<div class="row">
						<div class="col-md-2">
							<select class="form-control input-sm">
							  <option>10</option>
							  <option>20</option>
							  <option>30</option>
							  <option>40</option>
							  <option>50</option>
							</select>
						</div>
						<div class="col-md-5 col-md-offset-5">
							<div class="action-holder">
								<a href="#" title="" class="btn btn-xs btn-default"><i class="fa fa-file-code-o"></i> CSV</a>
								<a href="#" title="" class="btn btn-xs btn-default"><i class="fa fa-file-excel-o"></i> Excel</a>
								<a href="#" title="" class="btn btn-xs btn-default"><i class="fa fa-file-pdf-o"></i> PDF</a>
								<a href="#" title="" class="btn btn-xs btn-default"><i class="fa fa-print"></i> Print</a>
							</div>
						</div>
					</div>
				</div>
				<div class="table-responsive">
					<table class="table table-bordered table-hover">
						<thead>
							<tr>
								<th rowspan="2">सि. न.</th>
								<th rowspan="2">कार्यलय</th>
								<th colspan="6">फारम बुझाएको मिति</th>
							</tr>
							<tr>
								<th>वार्षिक चौमासिक प्रगति</th>
								<th>मासिक प्रगति</th>
								<th>सचिव वैठक प्रगति</th>
								<th>कार्य सम्पादन सूचक</th>
								<th>वजेट वक्तव्य</th>
								<th>पुरा हेर्नुहोस</th>
							</tr>
						</thead>
						<tbody>
						{% for office in offices %}

							<tr>
								<td>{{office.id}}.</td>
								<td>{{office}}</td>
								<td>२०७३/५/२</td>
								<td>२०७३/५/८</td>
								<td></td>
								<td></td>
								<td></td>
								<td><a href="{% url 'office:view-data-detail' office.id %}" title="" class="btn btn-xs btn-primary"><i class="fa fa-eye"></i></a></td>
							</tr>
						{% endfor %}

						</tbody>
					</table>
				</div>
				<nav aria-label="Page navigation">
					<ul class="pagination">
						<li>
							<a href="#" aria-label="Previous">
								<span aria-hidden="true">&laquo;</span>
							</a>
						</li>
						<li><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li>
							<a href="#" aria-label="Next">
								<span aria-hidden="true">&raquo;</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>
			<div class="row">
				<div class="col-md-8">
					<!--Map-->
					<div class="bg-white padding margin-top-lg">
						<div id="map" style="width:100%;height:500px"></div>
					</div>
				</div>
				<div class="col-md-4">
					<!--Map Mark Info-->
					<div class="bg-white padding margin-top-lg">
						<ul class="map-mark-info-list">
							<li>
								<p>
								<strong>कार्यालयको नाम:</strong></br>
								व्यवसायिक तथा सीप विकास तालिम केन्द्र
								</p>
							</li>
							<li>
								<p>
								<strong>कार्यालय प्रमुख:</strong></br>
								बिक्रान्त गिरी
								</p>
							</li>
							<li>
								<p>
								<strong>इमेल:</strong></br>
								l3ikrant@gmail.com
								</p>
							</li>
						</ul>
					</div>
				</div>

			</div>
		</section>
		<div class="clearfix"></div>
		<!--Main Content Area Ends-->

{% endblock content %}


        {% block extra_scripts %}

        <script>window.jQuery || document.write('<script src="{% static 'assets/js/vendor/jquery.min.js' %}"><\/script>')</script>

		<script>
			function myMap() {
				var myCenter = new google.maps.LatLng(51.508742,-0.120850);
				var mapCanvas = document.getElementById("map");
				var mapOptions = {center: myCenter, zoom: 5};
				var map = new google.maps.Map(mapCanvas, mapOptions);
				var marker = new google.maps.Marker({position:myCenter});
				marker.setMap(map);
				google.maps.event.addListener(marker,'click',function() {
					take_action();
				});
			}
			function take_action(){
				alert("Take Action");
			}
		</script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDmkU1cjj2GkxzKoYWZV987q0sIGCL3Ps&callback=myMap"></script>

        {% endblock extra_scripts %}



