<form class = "" action="" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	{% include 'office/form_template.html' %}
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-success">पेश गर्नुहोस्</button>
		</div>
	</div>

</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script type="text/javascript">


	$(document).ready(function(){
    $("#id_is_project").change(function(){
    	
    	if(id_is_project.checked == true){
    		
    	    document.getElementById("id_is_municipality").checked = false;
    		}
    	});
	
	$("#id_is_municipality").change(function(){
    	
    	if(id_is_municipality.checked == true){
    		
    	    document.getElementById("id_is_project").checked = false;
    		}
    	});
	});

	
</script>

