<!DOCTYPE html>
<html lang="en">
<head>
<title>{% block title %}
    {% endblock %}</title>
  {% load staticfiles %}
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/bootstrap-responsive.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/fullcalendar.css' %}" />
<link rel="stylesheet" href="{% static 'css/matrix-style.css' %}" />
<link rel="stylesheet" href="{% static 'css/matrix-media.css' %}" />
<link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet" />
<link rel="stylesheet" href="{% static 'css/jquery.gritter.css' %}" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
</head>

<script src="{% static 'js/jquery.min.js' %}"></script>


<body>

<!--Header-part-->
<div id="header">


    <img style="margin: 10px;" src="http://naxa.com.np/appadmin/application/logo.png" height="45px" width="200px">

</div>
<!--close-Header-part-->


<!--top-Header-menu-->
<div id="user-nav" class="navbar navbar-inverse">
  <ul class="nav">
    <li  class="dropdown" id="profile-messages" ><a title="" href="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle"><i class="icon icon-user"></i>  <span class="text">Supa Admin</span><b class="caret"></b></a>
      <ul class="dropdown-menu">

        <li id="user-Alex" class="online"><a href=""><img alt="" src="{{ request.user.profile.photo.url }}" width="40px" height="40px"> <span>{{ request.user.profile.name }}</span></a></li>

      </ul>
    </li>


    <li class=""><a title="" href="{% url 'logout' %}"><i class="icon icon-share-alt"></i> <span class="text">Logout</span></a></li>
  </ul>
</div>
<!--close-top-Header-menu-->

<!--sidebar-menu-->
<div id="sidebar" style="font-size: 15px; color: #f2f2f2;">
  <ul>
    <li id="{% url 'supa:dashboard' %}"><a href="{% url 'supa:dashboard' %}"><i class="icon icon-home"></i><span>गृह पृष्ठ</span></a></li>


    <li class="submenu" id="office"> <a href="#"><i class="icon icon-file"></i> <span>कार्यालय</span> </a>
      <ul>
        <li id="{% url 'supa:addoffice' %}"><a href="{% url 'supa:addoffice' %}">कार्यालय थप्न</a></li>
        <li id="{% url 'supa:listoffice' %}"><a href="{% url 'supa:listoffice' %}">कार्यालय हेर्ने</a></li>

      </ul>
    </li>
    <li class="submenu" id="user"> <a href="#"><i class="icon icon-file"></i> <span>कर्मचारी</span> </a>
      <ul>
        <li id="{% url 'supa:adduser' %}"><a href="{% url 'supa:adduser' %}">कर्मचारीहरु थप्न</a></li>
        <li><a href="#">कर्मचारी हेर्ने</a></li>

      </ul>
    </li>


    <li class="submenu"> <a href="#"><i class="icon icon-file"></i> <span>जिल्ला</span> </a>
      <ul>
        <li><a href="{% url 'supa:darchulalist' %}">दर्चुला </a></li>
        <li><a href="{% url 'supa:kanchanpurlist' %}">कंचनपुर</a></li>
        <li><a href="{% url 'supa:dadeldhuralist' %}">डडेलधुरा</a></li>
        <li><a href="{% url 'supa:kailalilist' %}">कैलाली</a></li>
        <li><a href="{% url 'supa:bajanglist' %}">बझाङ</a></li>
        <li><a href="{% url 'supa:baitadilist' %}">बैतडी</a></li>
        <li><a href="{% url 'supa:dotilist' %}">डोटी</a></li>
        <li><a href="{% url 'supa:achhamlist' %}">अछाम</a></li>
        <li><a href="{% url 'supa:bajuralist' %}">बाजुरा</a></li>


      </ul>
    </li>

  </ul>

</div>

<!--sidebar-menu-->

<!--main-container-part-->
{% block body %}
{% endblock %}
<!--end-main-container-part-->

<!--Footer-part-->

<div class="row-fluid">
  <div id="footer" class="span12"> Brought to you by <a href="http://naxa.com.np">Naxa</a> </div>
</div>

<!--end-Footer-part-->

<script src="{% static 'js/jquery.ui.custom.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- <script src="{% static 'js/jquery.flot.min.js' %}"></script>
<script src="{% static 'js/jquery.flot.resize.min.js' %}"></script>  -->
<!-- <script src="{% static 'js/jquery.peity.min.js' %}"></script>  -->
<script src="{% static 'js/matrix.js' %}"></script>
<!-- <script src="{% static 'js/matrix.dashboard.js' %}"></script>  -->
<!-- <script src="{% static 'js/jquery.gritter.min.js' %}"></script>
 <script src="{% static 'js/matrix.interface.js' %}"></script>
<script src="{% static 'js/matrix.chat.js' %}"></script>  -->
<script src="{% static 'js/jquery.validate.js' %}"></script>
<!-- <script src="{% static 'js/matrix.form_validation.js' %}"></script>  -->
<script src="{% static 'js/jquery.wizard.js' %}"></script>
<!-- <script src="{% static 'js/jquery.uniform.js' %}"></script>  -->
<!-- <script src="{% static 'js/select2.min.js' %}"></script>  -->
<!-- <script src="{% static 'js/matrix.popover.js' %}"></script>  -->
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/matrix.tables.js' %}"></script> 

<script src="{% static 'js/matrix.wizard.js' %}"></script>

<script type="text/javascript">
  // This function is called from the pop-up menus to transfer to
  // a different page. Ignore if the value returned is a null string:
  function goPage (newURL) {

      // if url is empty, skip the menu dividers and reset the menu selection to default
      if (newURL != "") {


          // if url is "-", it is this page -- reset the menu:
          if (newURL == "-" ) {
              resetMenu();
          }
          // else, send page to designated URL
          else {

            document.location.href = newURL;
          }
      }
  }

// resets the menu selection upon entry to this page:
function resetMenu() {
   document.gomenu.selector.selectedIndex = 2;
}
</script>
</body>
</html>
