{% extends base_template %}
{% load staticfiles %}
{% block body %}
<script type="text/javascript">
  var d = document.getElementById("{% url 'supa:listoffice' %}");
  d.className += "active";
  var d = document.getElementById("office");
  d.className += " open";
</script>
<div id="content">
  <div id="content-header">

    <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="#">फारम तत्व</a> <a href="#" class="current">फारम </a> </div>
   
  </div>

    <div class="container-fluid">
    <hr>
    <div class="row-fluid">
        <div class="span6">
            <div class="widget-box">
                <div class="widget-title"> <span class="icon"> <i class="icon-file"></i> </span>
                <h5>हाल पोष्ट</h5>
                </div>
                <div class="widget-content nopadding">

        		{% if office_list %}
        		    <ul class="recent-posts">
        		    {% for OPMtype in office_list %}
                    <li>
                        <div class="user-thumb"> <img alt="User" src="{% static 'img/demo/av1.jpg' %}" width="40" height="40"> </div>
                        <div class="article-post">
                            <div class="fr"><a href="{% url 'supa:editoffice' OPMtype.id %}" class="btn btn-primary btn-mini">सम्पादन</a> <a href="{% url 'supa:detailoffice' OPMtype.id %}" class="btn btn-success btn-mini">विस्तार</a> <a href="{% url 'supa:deleteoffice' OPMtype.id %}" class="btn btn-danger btn-mini">मेटाउन</a></div>
        		            <a href="{% url 'supa:detailoffice' OPMtype.id %}"><h3>नाम : {{ OPMtype.name }}</h3></a>
                            <p>वर्ग : {{ OPMtype.category }}</p>
                            <p>ठेगाना : {{ OPMtype.address }}</p><br/>
                        </div>
                    </li>

                      {% endfor %}
                    <li>
                        <button class="btn btn-warning btn-mini">सबै हेर्न</button>
                    </li>

                </div>


    		    </ul>
    		{% else %}
    		    <p>कार्यालय उपलब्द छैन </p>
    		{% endif %}
            </div>
        </div>
    </div>

</div>
{% endblock %}





