{% extends base_template %}
{% block body %}
<div id="content">
  <div id="content-header">
    <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="#">Form elements</a> <a href="#" class="current">Form wizard</a> </div>
    <h1>Form wizard</h1>
  </div>

        {% if project_list %}
            <ul>
            {% for project in project_list %}
            <div class="container">
                <div class="col-md-3">
                    <a href=""><h3>Name: {{ project.OPMtype.name }}</h3></a>
                    <p>Category: {{ project.OPMtype.category }}</p>
                    <p>Address: {{ project.OPMtype.address }}</p><br/>
                </div>
            </div>
            {% endfor %}

            </ul>
        {% else %}
            <p>No Project are available.</p>
        {% endif %}

  </div>
</div>
{% endblock %}
